<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/homepage.css">
		<title>Laundry Time!!</title>
	</head>
	<body>
		<h3 id="params">Select the floor you normally do laundry in</h3>
		<form action = "/room_layout" method = "POST" id = "enter_info">
			<select name="floor">
			{% for f in floors %}
				<option value="{{f.floor}}">{{f.floor}}</option>
			{% endfor %}
			</select>
			<input type = "hidden" name = "school" value="{{school}}">
			<input type = "hidden" name = "dorm" value="{{dorm}}">
			<input type = "submit">
		</form>

	</body>

</html>
