<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/harbin_style.css">
		<title>Laundry Time!!</title>
	</head>

	<body>

		<h1> {{location.dorm}} : {{location.floor}}</h2>

		{% for m in machines %}
			{% if m.in_use=="shaking" or m.in_use=="True" %}
				{% if m.type=="Washer" %}
					<img class="create_washer in_use" id="m_{{m.id}}" src="/static/images/washer.jpg">Machine #{{m.id}} is a {{m.type}} in use</img><br>
				{% else %}
					<img class="create_dryer in_use" id="m_{{m.id}}" src="/static/images/dryer.jpg">Machine #{{m.id}} is a {{m.type}} in use</img><br>
				{% endif %}
			{% else %}
				{% if m.type=="Washer" %}
					<img class="create_washer" id="m_{{m.id}}" src="/static/images/washer.jpg">Machine #{{m.id}} is a {{m.type}} not in use</img><br>
				{% else %}
					<img class="create_dryer" id="m_{{m.id}}" src="/static/images/dryer.jpg">Machine #{{m.id}} is a {{m.type}} not in use</img><br>
				{% endif %}
			{% endif %}
		{% endfor %}


<!-- different type of logic: -->

	<!-- 	{% for m in machines %}
			{% if m.type=="Washer" %}
				<div class="create_washer"></div>
				{% if m.in_use=="shaking" or m.in_use=="True" %}
					<img class="in_use" id="m_{{m.id}}" src="/static/images/washer.jpg">Machine #{{m.id}} is a {{m.type}} in use</img><br>
				{% else %}
					<img id="m_{{m.id}}" src="/static/images/washer.jpg">Machine #{{m.id}} is a {{m.type}} not in use</img><br>
				{% endif %}
			{% else %}
				<div class="create_dryer"></div>
				{% if m.in_use=="shaking" or m.in_use=="True" %}
					<img class="in_use" id="m_{{m.id}}" src="/static/images/dryer.jpg">Machine #{{m.id}} is a {{m.type}} in use</img><br>
				{% else %}
					<img id="m_{{m.id}}" src="/static/images/dryer.jpg">Machine #{{m.id}} is a {{m.type}} not in use</img><br>
				{% endif %}
			{% endif %}
		{% endfor %} -->

	</body>

</html>

<!-- src="http://image.facegfx.com/2013/washing-machine-cartoon-clip-art-925524962884.jpg"  -->
<!-- 
src="http://www.dickpurtan.com/storage/cartoon%20washing%20machine.jpeg?__SQUARESPACE_CACHEVERSION=1325693846424" -->